{% extends 'Main.html' %}
{% load static %}
{% block content %}

<table class="table">
  <thead>
    <tr>

        <th scope="col">Image</th>
        <th scope="col">Species</th>
        <th scope="col">Bread</th>
        <th scope="col">Adoption Fee</th>
        <th> </th>
    </tr>
  </thead>
  <tbody>
  {% for p in pet %}

    <tr>

            <td><img src=" {{p.image.url}}" style ="height: 50px;width:50px;"></td>
            <td>{{p.species}}</td>
            <td>{{p.bread}}</td>
            <td>{{p.adoptionFee}}</td>

            <td><a href="{% url 'petdetails' p.id %} " class="btn btn-info">Details</a></td>
             <td><a href="{% url 'update' p.id %} " class="btn btn-warning">Update</a></td>
             <td><a href="{% url 'delete' p.id %} " class="btn btn-danger">Delete</a></td>



    </tr>


  {% endfor %}
  </tbody>
</table>
<div class="d grid gap-2 col-2 max" style="...">
   <a href="{% url 'upload_pet' %} " class="btn btn-info">Add Pet</a>
</div>

{% endblock  %}