

 *{
     margin:0;
     padding:0;
     font-family:sans-serif;


 }
 .wrapper{
 width:1170px;
 margin:auto;
 }
#welcome-text{
  background-image: url( "{% static 'D:\PAS\Git Setup\GL\Pet-Adoption-System\static\images\image\Group of pets.jpg' %}");
  background-size:cover;
  height:140vh;
  -webkit-background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   position:relative;
}
  
